/*==========================
04. Index Area Style CSS
===========================*/

/* HEADER BASE */
.header-area {
  background-color: #000;
  // padding: 0;
  transition: all 0.3s ease;
}

/* FLEX LAYOUT */
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LEFT (LOGO) */
.header-left img {
  height: 40px;
  padding: 0;
}

/* CENTER (NAVBAR) */
.header-center {
  flex: 1;
  justify-content: center;
}

/* NAV LINKS */
.header-center ul {
  display: flex;
  // gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-center ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  transition: 0.3s;
}

.header-center ul li a:hover {
  color: #22c55e; /* green hover */
}

/* RIGHT SIDE */
.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* STICKY HEADER */
.header-area.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.95);
  backdrop-filter: blur(6px);
  padding: 6px 0;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

/* MOBILE */
@media (max-width: 991px) {
  .header-center {
    display: none;
  }
}

// Index Action
.header-action{
  color: $black;
  font-size: 22px;

  @media #{$lg-device, $sm-device} {
    font-size: 20px;
  }

  a{
    color: $white;

    &.tel-no{
      @media #{$xs-device} {
        display: none;
      }
    }
  }

  [class*='btn-']{
    color: $white;
    margin-left: 20px;
  }
}